@import './../../../Content/content-variable';


.container{
  font-size: 20px;
  font-weight: 500;
  margin: 5px 5px;
  color: $dark-color;
  padding-bottom: 5px;
  border-bottom: 1px solid $border-color;
}
.links{
  display: inline;
  cursor: pointer;
  text-decoration: none;
  &:hover{
    color:$theme-color;
  }
}

.container{
  display:flex;
  .heading{
    flex:1;
  }
}