@import './../../../Content/content-variable';


.container{
  font-size: $text-rg;
  font-weight: 500;
  margin: 5px 5px;
  color: $dark-color;
  padding-bottom: 5px;
  border-bottom: 1px solid $border-color;
}
.links{
  cursor: pointer;
  &:hover{
    color:$theme-color;
  }
}

.container{
  padding:5px;
  display:flex;
  .heading{
    flex:1;
    font-weight: $font-light;
  }
}