@import './../../../../variable';

.wrapper{
  cursor: pointer;
  &:hover{
    .title{
    color:$theme-color;
    }
  }
}
.title{
  display: block;
  margin: 0;
  padding:0;
  color: $dark-color;
}
.navigator::before{
  content: ">";
  color: $dark-color;
  position: relative;
  bottom: 2px;
}
