@import './../../../../variable';


.wrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-right: 60px;

}

.btnWrapper{
  display: flex;
  justify-content: flex-end;
}


.title{
  display: block;
  margin: 0;
  padding:0;
  color: $dark-color;
}
.navigator::before{
  content: ">";
  color: $dark-color;
  position: relative;
  bottom: 2px;
}
