$circle-color: #84a9ac;
$white: #fff;

.circle {
  width: 60px;
  height: 60px;
  position: relative;
  
}
.white{
  .circleDot:before {
    background-color: $white;
  }
}

.circleDot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.circleDot:before {
    content: '';
    display: block;
    width: 15%;
    height: 15%;
    background-color: $circle-color;
    border-radius: 100%;
    animation: circle 1.2s infinite ease-in-out both; 
}

.circleDot:nth-child(1) { transform: rotate(30deg); }
.circleDot:nth-child(2) { transform: rotate(60deg); }
.circleDot:nth-child(3) { transform: rotate(90deg); }
.circleDot:nth-child(4) { transform: rotate(120deg); }
.circleDot:nth-child(5) { transform: rotate(150deg); }
.circleDot:nth-child(6) { transform: rotate(180deg); }
.circleDot:nth-child(7) { transform: rotate(210deg); }
.circleDot:nth-child(8) { transform: rotate(240deg); }
.circleDot:nth-child(9) { transform: rotate(270deg); }
.circleDot:nth-child(10) { transform: rotate(300deg); }
.circleDot:nth-child(11) { transform: rotate(330deg); }
.circleDot:nth-child(1):before { animation-delay: -1.1s; }
.circleDot:nth-child(2):before { animation-delay: -1s; }
.circleDot:nth-child(3):before { animation-delay: -0.9s; }
.circleDot:nth-child(4):before { animation-delay: -0.8s; }
.circleDot:nth-child(5):before { animation-delay: -0.7s; }
.circleDot:nth-child(6):before { animation-delay: -0.6s; }
.circleDot:nth-child(7):before { animation-delay: -0.5s; }
.circleDot:nth-child(8):before { animation-delay: -0.4s; }
.circleDot:nth-child(9):before { animation-delay: -0.3s; }
.circleDot:nth-child(10):before { animation-delay: -0.2s; }
.circleDot:nth-child(11):before { animation-delay: -0.1s; }

@keyframes circle {
  0%, 80%, 100% {
    transform: scale(0); }
  40% {
    transform: scale(1); 
  } 
}