@import './../../NavSideBar-variable';

.wrapper{
  display: flex;
  flex-direction: column;
  flex:1;
  padding-left: 20px;
  padding-top: 10px;

}
.links{
  font-size: 1.2em;
  font-weight: 500;
  margin: 2px 5px;
  color: $white-color;
  text-decoration: none;
}