@import './../../../../NavSideBar-variable';

$Canvas-Loader-Color: white;

.loading{
  div{
    div{
      color:$Canvas-Loader-Color;
    }
  }
  position:absolute;
  display: flex;
  top: 50px;
  bottom:0;
  left:50px;
  right:50px;
  justify-content: center;
  align-items: center;
}