@import './NavSideBar-variable';

.wrapper{
  height: 100%;
  display: flex;
}
.sideWrapper{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  cursor: pointer;
  height: 100%;
}
.sideWrapperNotCollapse{
  width: 100%;
}
.filler{
  flex:1;
}
.canvas{
  display: none;
}
.canvasActive{
  flex:1;
}