$delete-color:#e7305b;
$update-color:#ffcb74;
$create-color:#9bdeac;
$upload-color:#b9ac92;
$search-color:#2200b9;
$confirm-color:#7aa5d2;
$logout-color:#84a9ac;
$form-color:#84a9ac;
$hover-color:#fff;

$danger-color:#e7305b;
$mask-background: linear-gradient(#f4f6ff, #e4f9ff);
$white-color: #fff;
$font-color:#777;