@import './../../../../variable';

.wrapper{

    padding-left: 15px;
    display: flex;
    align-items: center;
    height:40px;
    background-color: $light-dark-color;
    text-decoration: none;
    border-bottom: solid 1px $dark-color;
    cursor: pointer;
  }

  
  .title{
    display: block;
    margin: 0;
    padding:0;
    color: $white-color;
    h4{
      font-weight: 300;
      margin-left: 20px;
    }
  }