@import './../../../variable';

.wrapper{
  background-color: $white-color; 
  border-radius: 5px;
  box-shadow: 1px 1px 13px -11px rgba(0,0,0,0.75);
  border-bottom: solid 2px $border-color;
  width: 100%;
}
