@import './../../../variable';
.wrapper{
  display: flex;
  width: 100%;
  padding:30px 0;
  border-bottom: solid 2px $border-color;
}
.detailWrapper{
  padding-right: 30px;
  h3{
    margin-bottom: 5px;
  }
}
.contextWrapper{
  padding: 20px;
  p {
    color: $dark-color;
  }
}
.heading{
  width: 30%;
  min-width: 200px;
}
.functionalComponent{
  flex: 1;
  padding: 10px;
  background-color: $white-color;
  border-radius: 5px;
  box-shadow: 1px 1px 13px -11px rgba(0,0,0,0.75);
}

