@import './../../../../../../variable';;
@import './../../color';


.wrapper{
  pointer-events: none ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height:150px;
  width:280px;
  position: fixed;
  cursor: auto;
  border-radius: 30px;
  left: 200px;
  background-color: $white-color;
  box-shadow: 3px 3px 20px -4px rgba(0,0,0,0.75);
  z-index: 100;
}
.row{
  flex:1;
  width:260px;
  display: flex;
  padding: 0 5px;
  justify-content: center;
  align-items: center;}

.selectionRow{
  flex: 2;
  display: flex;
  justify-content: space-evenly;
}
.display{
  pointer-events:all;
  width:30px;
  cursor: pointer;
  height:30px;
  display:flex;
  color: $light-dark-color;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  border:  1px solid $light-dark-color;
  &:hover{
    background-color: $theme-color;
  }
}
.name{
  padding-left: 5px;
  flex: 1;
  display:block;
  color: $dark-color;
  font-weight: 500;
}

.brown{color: $Avatar-Brown;}
.green{color: $Avatar-Green;}
.red{color:$Avatar-Red;}
.grey{color: $Avatar-Grey;}
.blue{color:$Avatar-Blue;}
.dark{background-color: $dark-color;}
.light{background-color: $light-dark-color;}

// $Avatar-Brown:#443737;
// $Avatar-Blue:#202060;
// $Avatar-Grey:#414141;
// $Avatar-Black: #17223b;
// $Avatar-Red:#44000d;
