@import './../../../../../../variable';

.wrapper{
    //应该也要孩子来撑大的
  display: flex;
  padding: 50px;
  // 应该也要复用的,可以放到全局
  border-bottom: solid 2px $border-color;
}
.titleBlock{
  width: 400px;
  padding-right: 30px;
}
.functionBlock{
   width: 100%;
   height:300px;
   background-color: $white-color;
   border-radius: 5px;
   box-shadow: 1px 1px 13px -11px rgba(0,0,0,0.75);
}
