@import './../../variable';

.wrapper{
  width: 100%;
}

.header{
  height:40px;
  background-color: $white-color;
  box-shadow: 0px 3px 20px -10px rgba(164, 163, 163, 0.75);
}
.content{
  padding:50px 5% 0;
}