@import './../../variable';

.wrapper{
  width: 100%;
  min-height: 100vh;
}
.header{
  position:sticky;
  top: 0;
  z-index: 10;
  padding-left: 60px;
  display: flex;
  align-items: center;
  height:40px;
  background-color: $white-color;
  border-bottom: solid 1px $border-color;
  box-shadow: 0px 3px 20px -10px $border-color;
  text-decoration: none;
}
.teacherBackground{
  background-color: $teacher-background;
}
.studentBackground{
  background-color: $student-background;
}

.adminBackground{
  background-color: $admin-background;
}

@media screen and (max-width: $phone-size){
  .header{
    padding-left: 45px;
  }
}