@import './../../NavSideBar-variable';

.wrapper{
  display: flex;
  text-decoration: none;
  cursor: pointer;
  &:hover{
    color:$theme-color;
    h3{
    color:$theme-color;
  }
  }
}

.active{
  color: $dark-color;
   background-color: $light-dark-color;
}
.inActive{
  
  color: $light-dark-color;
}

.icon{
  width:$icon-width;
  height:40px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.title{  
  height:40px;
  display: flex;
  align-items: center;
  h3{
    color: $white-color;
  }
}
.hide{
  display: none;
}