@import './../../../../../../../variable';

.wrapper{
  //   //应该也要孩子来撑大的
  width: 100%;
  display: flex;
  // 应该也要复用的,可以放到全局
  // border-bottom: solid 2px $border-color;
}
.heading{

}
.functionBlock{
    flex: 1;
   height:300px;
   background-color: $white-color;
   border-radius: 5px;
   box-shadow: 1px 1px 13px -11px rgba(0,0,0,0.75);
}
