@import "./../../../../../../variable";

.wrapper {
  padding-top: 20px;
  padding-left: 20px;
}

.container {
  font-size: 20px;
  font-weight: 500;
  margin: 5px 5px;
  color: $dark-color;
  display: flex;
  .heading {
    flex: 1;
  }
}

.create {
  display: inline-flex;
  padding-left: 500px;
}

.label {
  padding-left: 10px;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.th,
.td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.tr:hover {
  background-color: #f5f5f5;
}
