@import '../../../Button/color';

.wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $mask-background;
}
.modal {
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 1px 1px 20px -15px #000;
}

.incorrect{
  .control{
    .oldPass{
      border-color:$danger-color;
    }
  }
}

.missMatch{
  .control{
    .newPass,.confirmPass{
      border-color:$danger-color;
    }
  }
}
.successful{
  .control{
    input{
      border-color:$create-color;
    }
  }
}

.form {
  position: relative;
  width:300px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  small{
    bottom:130px;
    position: absolute;
    color:$danger-color;
  }
  .successfulText{
    color:$create-color;
  }
  .loaderContainer{
    z-index: 3000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($color: #f4f6ff, $alpha: 0.4);
  }
}

.control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
  input {
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    display: block;
    width: 200px;
    padding: 10px;
    font-size: 14px;
    &:focus {
      outline:none;
      border-color:  $update-color;
    }
  }
  input:focus::placeholder {
    color: transparent;
  }
  label {
    color: #777;
    display: block;
    margin-bottom: relative;
  }
}
.forget{
  margin-top: 20px;
  display: block;
  color: $font-color;
}
.button {
  cursor: pointer;
  border: none;
  background-color: $white-color;
  border-radius:5px;
  border:solid 2px $update-color;
  color: $update-color;
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
  width:200px;
  outline: none;
  &:hover{
    color: $white-color;
    background-color:$update-color;
  }
}
label {
  padding-bottom: 5px;
}
