.wrapper{
    width: 100%;
    padding-bottom: 20px;
    overflow-x:auto;
  }

.label{
    padding-left: 10px;
  }

.table {
    border-collapse: collapse;
    width: 100%;
  }
  
.th, .td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
.tr:hover {background-color:#f5f5f5;}