@import './../../../../NavSideBar-variable';

.links{
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 500;
  margin: 5px 5px;
  border-bottom: 2px solid $dark-color;
  color: $white-color;
  text-decoration: none;
  &:hover{
    color:$theme-color;
  }
}