@import './../../../../../../../content-variable';

.wrapper{
  padding:0 30px;
  display: flex;
  flex-direction: column;
  a{
    margin: 5px 0;
    text-decoration: none;
    color: $theme-color;
    font-size: 1.5em;
  }
}

