@import './../../../variable';

.wrapper{
  padding:10px;
  display: flex;
  flex-direction: column;
}
.title{
  margin:20px 0;
  color: $dark-color;
  font-size: $text-xlg;
  font-weight: $font-bold;
}
.subHeading{ 
  margin:10px 0;
  color: $dark-color;
  font-size: $text-lg;
  font-weight: $font-bold;
}
.content{
  margin-bottom:10px;
  color: $light-dark-color;
  font-size: $text-rg;
}