

$Avatar-Brown:#b55400;
$Avatar-Blue:#3282b8;
$Avatar-Grey:#6b778d;
$Avatar-Black: #17223b;
$Avatar-Red:#c72c41;


$Background-Purple:#a72693;
$Background-Orange:#b55400;
$Background-Blue:#3282b8;
$Background-Red:#801336;
$Background-Green:#616f39;