@import './../../../../variable';
@import './color';

.wrapper{
  height:200px;
  margin: 10px 30px;
  position: relative;
  border: solid 3px $light-dark-color;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.avatar{
  font-size: 12em;
}


// $Avatar-Brown:#443737;
// $Avatar-Blue:#202060;
// $Avatar-Grey:#414141;
// $Avatar-Black: #17223b;
// $Avatar-Red:#44000d;

.wrapperLight{
  background-color: $light-dark-color;
}
.wrapperDark{
  background-color: $dark-color;
}
.avatarRed{
  color: $Avatar-Brown;
}