@import "../../../../../../Button/Button.module.scss";

.wrapper{
    padding-top: 20px;
}

.form {
  display: inline-flex;
  width: 100%;
  height: 40px;
  padding-left: 25px;
}

.innerform {
  background: transparent;
  border: 0;
  display: block;
  font-size: 16px;
  color: #555;
}

.innerform select {
  width: 100px;
  font-size: 20px;
  padding-left: 6px;
  height: 100%;
  border: 1px solid rgb(209, 209, 209);
  border-radius:3px ;
}

.innerform input,
input.placeholder {
  width: 250px;
  height: 100%;
  box-sizing: border-box;
  color: #888;
  font-size: 20px;
  text-align: center;
  border: 1px solid rgb(209, 209, 209);
  border-right: hidden;
}

.errors{
display:block;
padding-left:30px;
color:$delete-color;
}

.button {
  padding: 8px 0px 0px 15px ;
  width: 30px;
  border: 1px solid rgb(209, 209, 209);
  border-left: hidden;
  background-color: $create-color;
  &:hover{
    color:$hover-color;
    background-color: $create-color;
  }
}
