@import "./../../../variable";
@import "../../Button/color";

textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.horizontalRow {
  margin-bottom: 30px;
  display: flex;
  .item {
    margin-bottom: 0px;
    margin-right: 30px;
    input[type="text"]{
      width:250px;
    }
    div {
      font-size: $text-lg;
      color: $light-text-color;
      font-weight: $font-bold;
    }
  }
}

.form {
  box-sizing: border-box;
  position: relative;
  padding: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .title {
    color: $dark-color;
    margin-bottom: 20px;
    font-size: $text-xlg;
    font-weight: $font-bold;
  }
  small {
    bottom: 80px;
    font-size: $text-rg;
    font-weight: $font-bold;
    position: absolute;
    color: $create-color;
  }
  .error {
    color: $danger-color;
  }
}
.successful {
  .item{
    input,
    textarea,
    select {
      border-color: $create-color;
    }
  }
}
.item {
    margin-bottom: 30px;
    textarea {
      resize: vertical;
    }
    input {
      height: 40px;
    }
    input,
    textarea,
    select {
      box-sizing: border-box;
      border: 2px solid #f0f0f0;
      border-radius: 5px;
      width: 100%;
      padding: 10px;
      font-size: $text-rg;
      color: $font-color;
      &:focus {
        outline: none;
        border-color: $form-color;
        &::placeholder {
          color: transparent;
        }
      }
    }
    label {
      display: block;
      font-size: $text-lg;
      font-weight: $font-bold;
      color: $dark-color;
      padding-bottom: 5px;
    }
  }

.inactiveBlock {
  border: solid 2px $light-text-color;
  color: $light-text-color;
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
  width: 200px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
.btn {
  cursor: pointer;
  border: none;
  background-color: $white-color;
  border-radius: 5px;
  border: solid 2px $form-color;
  color: $form-color;
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
  width: 200px;
  outline: none;
  &:hover {
    color: $white-color;
    background-color: $form-color;
  }
}
@media only screen and (max-width: $tablet-size) {
  .form{
    small{
      font-size: $text-sm;
      font-weight: $font-light;
    }
  }
}
@media only screen and (max-width: $phone-size) {
  .form{
    padding:10px;
    small{
      bottom:55px;
    }
  }
  .horizontalRow {
    flex-direction: column;
    margin-bottom: 0;
    .item{
      margin:0;
      margin-bottom: 20px;
        input[type="text"]{
          width:100%;
      }
    }
  }
}