@import '../../../../../../../../variable';

.pagination{
  position: absolute;
  bottom:0;
  width: 100%;
  display: flex;
  justify-content: center;
  div{
    width: 20px;
    margin:10px;
    font-size: $text-rg;
    color: $white-color;
    font-weight: $font-bold;
  }
  .number{
    width: 40px;
    color: $white-color;
  }
  .clickable{
    color: $white-color;
    cursor: pointer;
    &:hover{
      color:$theme-color;
    }
  }
}