


$dark-color:#303841;
$light-dark-color:#47555e;
$theme-color:#7aa5d2;
$light-color:#eeeeee;
$white-color:#ffffff;
$lighten-dark-color:#303841d4;
$light-text-color:#777;
$link-color:#a1b4b626;
$theme-green-color:#84a9ac;

//background
$teacher-background:#cdd3fb36;
$student-background:#c5f3bf21;
$admin-background:#fec5f31f;

//TODO:重构一下这个
$text-sm:12px;
$text-rg:16px;
$text-lg:20px;
$text-xlg:28px;
$text-xxlg:48px;

$font-light:400;
$font-bold:600;
$font-extra-bold:900;


$border-color:rgba(164, 163, 163, 0.75);

//responsive
$nav-bar-width:250px;
$large-tablet-size: 1000px;
$tablet-size: 800px;
$phone-size: 600px;
