


$dark-color:#303841;
$light-dark-color:#47555e;
$theme-color:#7aa5d2;
$light-color:#eeeeee;
$white-color:#ffffff;
$lighten-dark-color:#303841d4;
$light-text-color:#777;
$link-color:rgba(132,169,172,0.6);


//TODO:重构一下这个
$text-sm:10px;
$text-rg:16px;
$text-lg:20px;
$text-xlg:28px;
$text-xxlg:36px;

$font-light:400;
$font-bold:600;


$border-color:rgba(164, 163, 163, 0.75);
