@import '../../../../variable';

.wrapper {
  width: 500px;
  .title{
    color: $dark-color;
    margin-bottom: 10px;
    font-size: $text-lg;
    font-weight: $font-bold;
  }
  .text{
    color: $light-dark-color;
    font-size: $text-rg;
    margin-bottom: 10px;
  }
} 