@import './../../variable';

.wrapper{
  width: 100%;
  height: 100vh;
  background-color: $dark-color;
  position: sticky;
  top:0;
  display: flex;
  flex-direction: column;
}

.sideBar{
  flex: 1;
}