@import './../../variable';

.wrapper{
  width: 100%;
  height: 100vh;
  background-color: $dark-color;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  z-index: 20;
}
.nameWrapper{
  height:40px;
  display: flex;
  justify-content: center;
  align-items: center;
  .loading,.name{
    color:$white-color;
    font-size: $text-lg;
    font-weight: $font-extra-bold;
  }
}

.sideBar{
  flex: 1;
}
.footer{
  border-top: 2px solid $light-dark-color;
  height:40px;
  display: flex;
  justify-content: center;
  h3{
    font-size: 20px;
    color: $white-color;
  }
}