@import './../../variable';

.wrapper{
  width: 100%;
  height: 100vh;
  background-color: $dark-color;
  position: sticky;
  top:0;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}
.nameWrapper{
  height:40px;
  display: flex;
  justify-content: center;
  .loading,.name{
    color:$white-color;
    font-size: 20px;
    font-weight: 900;
  }
}

.sideBar{
  flex: 1;
}
.footer{
  border-top: 2px solid $light-dark-color;
  height:40px;
  display: flex;
  justify-content: center;
  h3{
    font-size: 20px;
    color: $white-color;
  }
}