@import './../../../../../../variable';
@import './RadioButton.module.scss';

.wrapper{
  padding:10px;
  position:relative;
}
.radioWrapper{
  display: flex;
  margin: 20px;

  div,label{
    cursor: pointer;
    color:$dark-color;
    font-size:$text-rg;
    font-weight:$font-bold;
    margin-right: 10px;
  }
}
.contentWrapper{
  display:flex;
  flex-direction: column;
}
.LoadingWrapper{
  width: 100%;
  padding:20px;
  position: relative;
  display:flex;
  justify-content: center;
}