.title{
      text-align: center;
      margin: 0 0 20px;
    }

.form{
  padding:30px 40px;
}

.control{
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
    }

.control label{
  color: #777;
  display:block;
  margin-bottom: relative;
}

.control input{
  border: 2px solid #f0f0f0;
  border-radius: 5px;
  display: block;
  width: 90%;
  padding:10px;
  font-size: 14px;
}

.control input :focus{
 outline: 0;
 border-color: #777;
}
.control input:focus::placeholder {
  color: transparent;
}
.button{
cursor: pointer;
background-color: #3498db;
border:10px solid #3498db;
border-radius: 5px;
color:#fff;
display: block;
font-size: 16px;
padding: 10 px;
margin-top:10px;
height:0%;
width:100%;
}